.container {
  text-align: center;
  margin: 9rem auto;
}

#canvas {
  background-image: url("/images/background3.png");
  background-size: 100% 100%;
  display: none;
  margin: 3rem auto;
}

h1 {
  font-family: "Carter One", cursive;
  margin-top: 10px;
  text-align: center;
  background-image: linear-gradient(40deg, #abe5e6, #7062f0);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  position: absolute;
  top: 85%;
  left: 14%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.imgStart {
  height: 240px;
}

#start {
  width: 750px;
  height: 450px;
  text-align: center;
  margin: 3rem auto;
  position: relative;
  background-image: url(/images/gamestart2.png);
  background-size: 100% 100%;
}

#gameover {
  border: 1px solid black;
  width: 750px;
  height: 450px;
  text-align: center;
  margin: 3rem auto;
  position: relative;
}

#restart {
  position: absolute;
  top: 75%;
  left: 45%;
}

#startGame {
  position: absolute;
  border: 1px solid grey;
  top: 75%;
  left: 45%;
  padding: 3px 5px;
  background-image: linear-gradient(
    to right,
    #fbca88 5%,
    #ef69ad 35%,
    #fbc2eb 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #fbc2eb;
  border-radius: 10px;
  font-family: "Heebo", sans-serif;
  letter-spacing: 2px;
}

#startGame:hover {
  background-position: center;
}

#gameover {
  display: none;
  background-image: url(/images/gameendingimg1.gif);
  background-size: 100% 100%;
}

#gameOverScore {
  font-family: "Staatliches", cursive;
  font-size: 30px;
  margin-top: 60px;
  color: rgb(28, 52, 61);
}

#gameOverTitle {
  margin-top: 30px;
  font-size: 50px;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 10px;
  text-shadow: 3px 4px 4px white, 2px 2px 6em #ff0d00, 3px 4px 0.5em #ff0d00;
}

#restart {
  position: absolute;
  top: 75%;
  left: 45%;
  padding: 3px 5px;
  background-image: linear-gradient(
    to right,
    #e5b3d0 5%,
    #aea7cf 35%,
    #2779a6 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  font-family: "Heebo", sans-serif;
  letter-spacing: 2px;
}
